html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title IEPV - Igreja Evangélica Palavra Viva - Ministério Amor e Avivamento | Cadastro de Membros
    body 
        h1 Cadastro de Membros
        form(method="post")
            input(type="text" name="name" placeholder="Nome") 
            br
            br
            input(type="text" name="email" placeholder="Email") 
            br
            br
            input(type="text" name="mobile" placeholder="Celular") 
            br
            br
            input(type="text" name="password" placeholder="Senha") 
            br
            br
            input(type="submit" value="Register")